*.iml
.gradle
/local.properties
/.idea/caches
/.idea/deviceManager.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/AndroidProjectSystem.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/runConfigurations.xml
/.kotlin/sessions/*
.DS_Store
/build
/captures
raw
sampledata
.externalNativeBuild
.cxx
local.properties
